<ul class="collection">
	<% q.Comments.forEach(function(comment) { %>
  <% var canPublish = session.user && (session.user.isAdmin || comment.Quiz.UserId == session.user.id) %>
  <% if (comment.published || canPublish) { %>
  <li class="collection-item avatar">
    <i class="mdi-communication-textsms circle"></i>
    <span class="title">
    	<% if (comment.User) { %>
    	<span><%= comment.User.username %></span>
  		<% } else { %>
    	<span>Anonimo</span>
  		<% } %>
    	<span> dice:</span>
    </span>
    <p><%= comment.text %></p>
    <% if (!comment.published && canPublish) { %>
    <a href="/quizes/<%= q.id %>/comments/<%= comment.id %>/publish" class="secondary-content" title="Marcar como publicado"><i class="small mdi-action-spellcheck"></i></a>
    <% } %>
  </li>
  <% } %>
  <% }) %>
  <a href="/quizes/<%= q.id %>/comments/new" class="collection-item center">
  	<i class="mdi-communication-textsms"></i>
  	<span>Agregar un nuevo comentario</span>
  </a>
</ul>