<form class="row" method="get" action="/quizes">
  <div class="input-field col s12">
    <i class="mdi-action-search prefix"></i>
    <input id="search" name="search" type="text" value="<%= query %>">
    <label for="search">Buscar</label>
  </div>
</form>
<div class="collection">
	<% questions.forEach(function(q) { %>
  <li class="collection-item">
  	<a href="/quizes/<%= q.id %>"><%= q.question %></a>
    <% if (session.isLoggedIn()) { %>
    <form id="deleteform"class="secondary-content" method="post" action="/quizes/<%= q.id %>">
    	<input name="_method" type="hidden" value="DELETE">
    	<a class="secondary-content" href="#" onclick="return confirm('Borrar: <%= q.question %>') && document.getElementById('deleteform').submit();">
    		<i class="small mdi-action-delete"></i>
    	</a>
    </form>  
    <a href="/quizes/<%= q.id %>/edit" class="secondary-content"><i class="small mdi-editor-mode-edit"></i></a>
    <% } %> 
  </li>
  <% }) %>
  <a href="/quizes/new" class="collection-item center">
  	<i class="mdi-content-add"></i>
  	<span>Crear nueva pregunta</span>
  </a>
</div>