<h4><%= q.question %></h4>
<form method="get" action="/quizes/<%= q.id %>/answer">
  <div class="row">
    <div class="input-field col s12">
      <input name="a" id="a" type="text" required>
      <label for="a">Respuesta</label>
    </div>
  </div>
	<button class="btn waves-effect waves-light" type="submit">Enviar
	  <i class="mdi-content-send right"></i>
	</button>
</form>
<h5>Comentarios</h5>
<ul class="collection">
	<% q.Comments.forEach(function(comment) { %>
  <% if (comment.published || session.user) { %>
  <li class="collection-item avatar">
    <i class="mdi-communication-textsms circle"></i>
    <span class="title">Anonimo dice:</span>
    <p><%= comment.text %></p>
    <% if (!comment.published && session.user) { %>
    <a href="/quizes/<%= q.id %>/comments/<%= comment.id %>/publish" class="secondary-content" title="Marcar como publicado"><i class="small mdi-action-spellcheck"></i></a>
    <% } %>
  </li>
  <% } %>
  <% }) %>
  <a href="/quizes/<%= q.id %>/comments/new" class="collection-item center">
  	<i class="mdi-communication-textsms"></i>
  	<span>Agregar un nuevo comentario</span>
  </a>
</ul>